<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">The Plataform</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">About Us</a></li>
                <li><a href="#" class="py-2 d-block">Writers</a></li>
                <li><a href="/contactus" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Useful links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Essay Format</a></li>
                <li><a href="http://hkbu.libguides.com/c.php?g=200507&p=1318559" class="py-2 d-block">Citing Sources</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <ul class="ftco-footer-social list-unstyled float-md-right float-lft">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <a href="https://nossapps.com" target="_blank" class="text-primary">NossApps</a></p>
      </div>
    </div>
  </div>
</footer>
