<section class="ftco-cover" style="background-image: url(images/bg_1.jpg);" id="section-home" data-aos="fade"  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center ftco-vh-100">
      <div class="col-md-7">
        <h1 class="ftco-heading mb-3" data-aos="fade-up" data-aos-delay="500">We are here to help you!</h1>
        <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up"  data-aos-delay="600">School sometimes can be overwhelming, let us help you writing your essays and make you successful with your papers</h2>
        <p data-aos="fade-up"  data-aos-delay="700"><a href="/neworder" target="_blank" class="btn btn-outline-white px-4 py-3" data-toggle="modal" data-target="/neworder">Compose Now!</a></p>
      </div>
    </div>
  </div>
</section>
