<section class="ftco-cover" style="background-image: url(images/bg_1.jpg);" id="section-home" data-aos="fade"  data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center ftco-vh-100">
        <div class="col-md-7">
          <h1 class="ftco-heading mb-3" data-aos="fade-up" data-aos-delay="500">Pricing & FAQ</h1>
          <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up"  data-aos-delay="600">Here your papers is written by PHD experts that have many years of experience. Enjoy the best prices of the market with best quality.</h2>  
          <p data-aos="fade-up"  data-aos-delay="700"><a href="/neworder" target="_blank" class="btn btn-outline-white px-4 py-3" data-toggle="modal" data-target="/neworder">Order Now!</a></p>
        </div>
      </div>
    </div>
  </section>
  