<div id="services" class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center" data-aos="fade-up">
        <h2>What We Do</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-bank bg-after"></span></div>
          <div class="media-body">
            <h3 class="heading">Creative Performance</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-career bg-after"></span></div>
          <div class="media-body">
            <h3 class="heading">Reach Performance</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-lightbulb bg-after"></span></div>
          <div class="media-body">
            <h3 class="heading">Custom Development</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-pie-chart bg-after"></span></div>
          <div class="media-body">
            <h3 class="heading">Creative Performance</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-handshake bg-after"></span></div>
          <div class="media-body">
            <h3 class="heading">Reach Performance</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="500">
        <div class="media block-6">
          <div class="icon"><span class="flaticon-presentation bg-after"></span></div>
          <div class="media-body">
            <h3 class="heading">Custom Development</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
