<section class="ftco-cover" style="background-image: url(images/bg_1.jpg);" id="section-home" data-aos="fade"  data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center ftco-vh-100">
        <div class="col-md-7">
          <h1 class="ftco-heading mb-3" data-aos="fade-up" data-aos-delay="500">Your order was Processed Sucessfully, your order Id is {{orderId}}</h1>
          <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up"  data-aos-delay="600">You will receive an email shortly with all details. Thank you!</h2>
        </div>
      </div>
    </div>
  </section>
  