<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-dark" id="ftco-navbar" data-aos="fade-down" data-aos-delay="500">
  <div class="container">
    <a class="navbar-brand" href="index.html">Essay Mint</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/neworder" class="nav-link">Order Now</a></li>
        <li class="nav-item"><a href="/#services" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="/pricing" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="/contactus" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
