<form>
    <div class="products">
        <h3 class="title">Checkout</h3>
        <div class="item">
            <span class="price">{{totalPrice}}</span>
            <p class="item-name">Order</p>
            <p class="item-description">{{type}} - {{numberOfPages}} pages in {{urgency}}</p>
        </div>
        <div class="item">
            <span class="price">{{ukWriter}}</span>
            <p class="item-name">UK Writer</p>
            <p class="item-description">UK Writer Fee (5%)</p>
        </div>
        <div class="item">
            <span class="price">{{tax}}</span>
            <p class="item-name">Tax</p>
            <p class="item-description">service tax (3.9% + 0.30 cents)</p>
        </div>
        <div class="total">Total<span class="price">{{subTotal}}</span></div>
    </div>
    <div class="card-details">
        <h3 class="title">Customer's Information</h3>
        <div class="row">
            <div class="form-group col-sm-7">
                <label for="txtName">Name</label>
                <input id="txtName" type="text" class="form-control" placeholder="Enter your first and last name" aria-label="Enter your name" aria-describedby="basic-addon1">
            </div>
            <div class="form-group col-sm-7">
                <label for="txtEmail">Email</label>
                <input id="txtEmail" type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="card-details">
        <h3 class="title">Card Details</h3>
        <div class="row">
            <div class="form-group col-sm-8">
                <label for="card-number">Card Number</label>
                <input id="card-number" type="text" class="form-control" placeholder="Card Number" aria-label="Card Holder" aria-describedby="basic-addon1">
            </div>
            <div class="form-group col-sm-5">
                <label for="">Expiration Date</label>
                <div class="input-group expiration-date">
                    <input id="txtCardMonth" type="text" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
                    <span class="date-separator">/</span>
                    <input id="txtCardYear" type="text" class="form-control" placeholder="YYYY" aria-label="YYYY" aria-describedby="basic-addon1">
                </div>
            </div>
            
            <div class="form-group col-sm-4">
                <label for="cvc">CVC</label>
                <input id="cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">
            </div>
            <div class="form-group col-sm-12">
                <button type="button" onclick="ProcessOrder()" class="btn btn-primary btn-block">Process</button>
            </div>
        </div>
    </div>
</form>

<script>
    function validateMonth(monthParam) {
        return /^(0[1-9]|1[012])$/.test(monthParam)
    } 

    function validateYear(yearParam) {
        return /^(19|20)\d{2}$/.test(yearParam)
    } 

    function validateCvv(cvvParam) {
        return /^[0-9]{3,4}$/.test(cvvParam)
    } 

    function validateCreditCard(cardnParam) {
        return /^((?:4\d{3})|(?:5[1-5]\d{2})|(?:6011)|(?:3[68]\d{2})|(?:30[012345]\d))[ -]?(\d{4})[ -]?(\d{4})[ -]?(\d{4}|3[4,7]\d{13})$/.test(cardnParam)
    }

    function ProcessOrder() {

        if($("#txtName").val().toString().length === 0) {
            swal("Error", "Please enter your name", 'warning');
        }
        else if($("#txtEmail").val().toString().length === 0) {
            swal("Error", "Please enter your email", 'warning');
        }
        else if(!validateCreditCard($("#card-number").val())) {
            swal("Error", "Please enter your card number correctly", 'warning');
        }
        else if(!validateMonth($("#txtCardMonth").val())) {
            swal("Error", "Please enter the expiration month of the card correctly", 'warning');
        }
        else if(!validateYear($("#txtCardYear").val())) {
            swal("Error", "Please enter the expiration year of the card correctly", 'warning');
        }
        else if(!validateCvv($("#cvc").val())) {
            swal("Error", "Please enter the cvv of your card correctly", 'warning');
        }
        else {
            try {
                $.ajax({
                    type: "POST",
                    url: "/order/process",
                    timeout: 60000,
                    async: true,
                    data: { cardn: $("#card-number").val(), expmonth: parseInt($("#txtCardMonth").val()), expyear: parseInt($("#txtCardYear").val()), cvc: $("#cvc").val(), name: $("#txtName").val(), email: $("#txtEmail").val()},
                    success: function(response) { 
                        if(response.statusCode === 200) {
                            window.location.href = response['redirect'];
                        }
                        else {
                            swal("Error", response.message, 'warning');   
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        if(errorThrown === "Bad Request") {
                            swal("Error", "Please insert your information correctly", 'warning');
                        }   
                        else {
                            swal("Error", "Something is broken please try again later", 'warning');
                        }
                    }
                });   
            } catch (error) {
                swal("Error", "Something is broken please try again later", 'warning');
            }
        }
    }

</script>