
{{> TopNavMenu}}
<!-- END nav -->

{{> MainBanner}}
<!-- END section -->

<div class="ftco-section contact-section">
   <div class="container">
     <div class="row block-9">
       <div class="col-md-6 pr-md-5">
         <form action="#">
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Your Name">
           </div>
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Your Email">
           </div>
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Subject">
           </div>
           <div class="form-group">
             <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
           </div>
           <div class="form-group">
             <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
           </div>
         </form>

       </div>

       <div class="col-md-6" id="map"></div>
     </div>
   </div>
 </div>
