{{> TopNavMenu}}
<!-- END nav -->

<div style="text-align: center; margin-top:3%; margin-bottom:8%">
    <span style="font-size:30px">Order your essay now! Filling up the form below</span>
</div>
<div class="ftco-section contact-section" style="text-align:center">
   <div class="container">
     <div class="row block-12">
       <div class="col-md-12 pr-md-7">
         <div class="form-group">
            <select class="form-control" id="type" onchange="update_price_calculator(this.form, true)">
                <option value="none" selected="selected">Select the Type of assignment</option>
                <option value="essay">Essay</option>
                <option value="term-paper">Term paper</option>
                <option value="coursework">Coursework</option>
                <option value="research-paper">Research paper</option>
                <option value="research-proposal">Research proposal</option>
                <option value="grant-proposal">Grant Proposal</option>
                <option value="case-study">Case Study</option>
                <option value="case-brief">Case Brief</option>
                <option value="discussion-board-post">Discussion Board Post</option>
                <option value="reaction-paper">Reaction paper</option>
                <option value="response-paper">Response paper</option>
                <option value="literary-analysis">Literary analysis</option>
                <option value="book-report">Book Report</option>
                <option value="book-review">Book Review</option>
                <option value="synopsis">Synopsis</option>
                <option value="poem">Poem</option>
                <option value="letter">Letter</option>
                <option value="motivation-letter">Motivation letter</option>
                <option value="memo">Memo</option>
                <option value="scholarship-essay">Scholarship essay</option>
                <option value="aritcle-writing">Article writing</option>
                <option value="outline">Outline</option>
                <option value="dissertation" value="25-0">Dissertation</option>
                <option value="dissertation-chapter-abstract">Dissertation chapter - Abstract</option>
                <option value="dissertation-chapter-introduction">Dissertation chapter - Introduction</option>
                <option value="dissertation-chapter-hypothesis">Dissertation chapter - Hypothesis</option>
                <option value="dissertation-chapter-literature-review">Dissertation chapter - Literature review</option>
                <option value="dissertation-chapter-methodology">Dissertation chapter - Methodology</option>
                <option value="dissertation-chapter-results">Dissertation chapter - Results</option>
                <option value="dissertation-chapter-discussion">Dissertation chapter - Discussion</option>
                <option value="dissertation-chapter-conclusion">Dissertation chapter - Conclusion</option>
                <option value="thesis">Thesis</option>
                <option value="thesis-proposal">Thesis Proposal</option>
                <option value="lab-report">Lab report</option>
                <option value="business-report">Business Report</option>
                <option value="business-plan">Business plan</option>
                <option value="white-paper">White paper</option>
                <option value="formatting">Formatting</option>
            </select>
         </div>
         <div class="form-group">
           <input type="text" class="form-control" id="title" placeholder="Title of the Paper">
         </div>
         <div class="form-group">
           <input type="number" class="form-control" id="numberOfPages" placeholder="Number of Pages">
         </div>
         <div class="form-group">
            <select class="form-control" id="style">
                <option value="none" selected="selected">Select the Style</option>
                <option value="mla">MLA</option>
                <option value="apa">APA</option>
            </select>
        </div>
         <div class="form-group">
           <select class="form-control" id="spacing">
              <option value="none" selected="selected">Select the Spacing</option>
              <option value="single">Single</option>
              <option value="double">Double</option>
           </select>
         </div>
         <div class="form-group">
           <select class="form-control" id="academicLevel">
               <option value="none" selected="selected">Select the Academic Level</option>
               <option value="high-school">High School</option>
               <option value="college">College</option>
               <option value="university">University</option>
               <option value="master">Master</option>
               <option value="phd">PHD</option>
           </select>
         </div>
         <div class="form-group">
            <select class="form-control" id="languagePreference">
                <option value="none" selected="selected">Select the Language Preference</option>
                <option value="us-writer">US Writer</option>
                <option value="uk-writer">UK Writer (+5% of total order)</option>
            </select>
        </div>
         <div class="form-group">
           <select class="form-control" id="urgency">
               <option value="none" selected="selected">Select the Urgency</option>
               <option value="3-hours">3 Hours</option>
               <option value="6-hours">6 Hours</option>
               <option value="8-hours">8 Hours</option>
               <option value="12-hours">12 Hours</option>
               <option value="24-hours">24 Hours</option>
               <option value="48-hours">48 Hours</option>
               <option value="3-days">3 Days</option>
               <option value="4-days">4 Days</option>
               <option value="5-days">5 Days</option>
               <option value="6-days">6 Days</option>
               <option value="7-days">7 Days</option>
               <option value="8-days">8 Days</option>
               <option value="9-days">9 Days</option>
               <option value="10-days">10 Days</option>
           </select>
         </div>
         <div class="form-group">
          <input type="number" class="form-control" id="numberOfReferences" placeholder="Number of References">
        </div>
         <div class="form-group">
           <textarea id="instructions" cols="30" rows="7" class="form-control" placeholder="Instructions. If you have any link for any reference please type here."></textarea>
         </div>
         <div style="margin-button:20px" class="form-group">
           <form id="frmUploadFiles" class="dropzone" method="post" enctype="multipart/form-data">
                <div class="dz-message">
                    <div class="drag-icon-cph"> <i class="material-icons">touch_app</i> </div>
                    <h3>Drag or click here to upload all the references for your paper</h3>
                <div class="fallback">
                </div>
            </form>
         </div>
         <div style="margin-top:10px" class="form-group">
           <button type="button" id="cmdSubmitOrder" onclick="GoToCheckout()" class="btn btn-primary py-3 px-5">Go to Payment</button>
         </div>
       </div>
     </div>
   </div>
 </div>

 <script>
    
     $(function () {
       var AudioDropZone = new Dropzone("#frmUploadFiles", {
              url: "/order/upload",
              acceptedFiles: ".pdf,.docx",
              timeout: 960000,
              maxFiles: 10,
              parallelUploads: 2,
              addRemoveLinks: false,
              dictRemoveFile: "remover",
              dictFallbackMessage: "Your browser does not support upload.",
              dictFileTooBig: "Your file should not be bigger than 100MB",
              dictUploadCanceled: "Canceled",

         });
     })

    function GoToCheckout() {

        blockView = () => {
            $("#cmdSubmitOrder").prop("disabled", true); 
        }

        releaseView = () => {
            $("#cmdSubmitOrder").prop("disabled", false);
        }

        if($("#type").val() === "none") {
          swal("Error", "Please choose the type of the order", 'warning');
        }
        else if($("#title").val().toString().length === 0) {
          swal("Error", "Please insert the title of your work", 'warning');
        }
        else if(parseInt($("#numberOfPages").val()) <= 0 || parseInt($("#numberOfPages").val()).toString() === "NaN") {
          swal("Error", "Please insert the number of pages correctly", 'warning');
        }
        else if($("#style").val() === "none") {
          swal("Error", "Please select the style that your paper should be written", 'warning');
        }
        else if($("#spacing").val() === "none") {
          swal("Error", "Please choose the spacing that your paper should be written", 'warning');
        }
        else if($("#academicLevel").val() === "none") {
          swal("Error", "Please choose the academic level", 'warning');
        }
        else if($("#languagePreference").val() === "none") {
          swal("Error", "Please select your language preference", 'warning');
        }
        else if($("#urgency").val() === "none") {
          swal("Error", "Please choose the urgency", 'warning');
        }
        else if(parseInt($("#numberOfReferences").val()) < 0 || parseInt($("#numberOfReferences").val()).toString() === "NaN") {
          swal("Error", "Please enter the number of references correctly", 'warning');
        }
        else {
          blockView();
          try {
              $.ajax({
                type: "POST",
                url: "/order/gotocheckout",
                timeout: 60000,
                async: true,
                data: { type: $("#type").val(), title: $("#title").val(), numberOfPages: parseInt($("#numberOfPages").val()), spacing: $("#spacing").val(), academicLevel: $("#academicLevel").val(), urgency: $("#urgency").val(), instructions: $("#instructions").val(), numberOfReferences: parseInt($("#numberOfReferences").val()), style: $("#style").val(), languagePreference: $("#languagePreference").val()},
                success: function(response) { 
                    window.location.href = response['redirect'];
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    releaseView()
                  
                    if(errorThrown === "Bad Request") {
                        swal("Error", "Please insert your information correctly", 'warning');
                    }   
                    else {
                        swal("Error", "Something is broken please try again later", 'warning');
                    }
                }
            });   
          } catch (error) {
              releaseView()
              swal("Error", "Please insert your information correctly", 'warning');
          }
        }
    }
 </script>
