{{> TopNavMenu}}
<!-- END nav -->

{{> PricingBanner}}
<!-- END section -->

<div class="ftco-section ">
    <div class="container">
        <div class="row mb-10 pricing-wrap">
            <div class="col-md-10 col-lg-12">
                <div class="block-7">
                    <div>
                        <div class="text-center">
                            <h2 class="heading">Pricing Calculator</h2>
                            <span class="price"><sup>$</sup> <span id="lblEstimatedTotal" class="number">14.99</span></span>
                            <span class="excerpt d-block">total before tax</span>
                        </div>
                        
                        <h3 class="heading-2 mb-3">Features Included</h3>
                        
                        <ul class="pricing-text">
                            <li>MA/PHD Writers</li>
                            <li>Times New Roman font, size 12</li>
                            <li>Free plagiarism report</li>
                            <li>Double or single - spaced text</li>
                            <li>Upload your PDF references</li>
                        </ul>

                        <div>
                            <div class="form-group">
                                <select class="form-control" id="academicLevel">
                                    <option value="none" selected="selected">Select the Academic Level</option>
                                    <option value="high-school">High School</option>
                                    <option value="college">College</option>
                                    <option value="university">University</option>
                                    <option value="master">Master</option>
                                    <option value="phd">PHD</option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="languagePreference">
                                        <option value="none" selected="selected">Select the Language Preference</option>
                                        <option value="us-writer">US Writer</option>
                                        <option value="uk-writer">UK Writer (+5% of total order)</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                <select class="form-control" id="urgency">
                                    <option value="none" selected="selected">Select the Urgency</option>
                                    <option value="3-hours">3 Hours</option>
                                    <option value="6-hours">6 Hours</option>
                                    <option value="8-hours">8 Hours</option>
                                    <option value="12-hours">12 Hours</option>
                                    <option value="24-hours">24 Hours</option>
                                    <option value="48-hours">48 Hours</option>
                                    <option value="3-days">3 Days</option>
                                    <option value="4-days">4 Days</option>
                                    <option value="5-days">5 Days</option>
                                    <option value="6-days">6 Days</option>
                                    <option value="7-days">7 Days</option>
                                    <option value="8-days">8 Days</option>
                                    <option value="9-days">9 Days</option>
                                    <option value="10-days">10 Days</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" id="numberOfPages" placeholder="Number of Pages">
                            </div>
    
                        </div>

                        <a onclick="CalculateEstimate()" class="btn btn-primary d-block px-3 py-3 mb-4">Calculate</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center pt-5 mb-3">
        <div class="col-md-7"><h2>Frequently Ask Questions</h2></div>
        </div>
        <div class="row justify-content-center">
        <div class="col-md-7">
            
            <div class="accordion block-8" id="accordion">
            <div class="accordion-item">
                <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">What is the name of your company<span class="icon"></span></a>
                </h3>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quae cumque perspiciatis aperiam accusantium facilis provident aspernatur nisi optio debitis dolorum, est eum eligendi vero aut ad necessitatibus nulla sit labore doloremque magnam! Ex molestiae, dolor tempora, ad fuga minima enim mollitia consequuntur, necessitatibus praesentium eligendi officia recusandae culpa tempore eaque quasi ullam magnam modi quidem in amet. Quod debitis error placeat, tempore quasi aliquid eaque vel facilis culpa voluptate.</p>
                </div>
                </div>
            </div> <!-- .accordion-item -->
            
            <div class="accordion-item">
                <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">How much pay for 3  months?<span class="icon"></span></a>
                </h3>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
                </div>
                </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
                <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Do I need to register?  <span class="icon"></span></a>
                </h3>
                <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
                </div>
                </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
                <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">Who should I contact in case of support.<span class="icon"></span></a>
                </h3>
                <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
                </div>
                </div>
            </div> <!-- .accordion-item -->

            </div>
        
        </div>
        </div>
    </div>
</div>

<script>
    function CalculateEstimate() {
        if(parseInt($("#numberOfPages").val()) <= 0 || parseInt($("#numberOfPages").val()).toString() === "NaN") {
            swal("Error", "Please insert the number of pages correctly", 'warning');
        }
        
        else if($("#academicLevel").val() === "none") {
            swal("Error", "Please choose the academic level", 'warning');
        }
           
        else if($("#languagePreference").val() === "none") {
            swal("Error", "Please select your language preference", 'warning');
        }
           
        else if($("#urgency").val() === "none") {
            swal("Error", "Please choose the urgency", 'warning');
        }
           
        else {
             try {
                 $.ajax({
                   type: "POST",
                   url: "/order/estimateprice",
                   timeout: 60000,
                   async: true,
                   data: { numberOfPages: parseInt($("#numberOfPages").val()), academicLevel: $("#academicLevel").val(), urgency: $("#urgency").val(), languagePreference: $("#languagePreference").val()},
                   success: function(response) { 
                       $("#lblEstimatedTotal").text(response.total)
                   },
                   error: function(XMLHttpRequest, textStatus, errorThrown) {
                     
                       if(errorThrown === "Bad Request") {
                           swal("Error", "Please insert your information correctly", 'warning');
                       }   
                       else {
                           swal("Error", "Something is broken please try again later", 'warning');
                       }
                   }
               });   
             } catch (error) {
                 swal("Error", "Please insert your information correctly", 'warning');
             }
           }
       }
</script>